<% provide(:title, "Sign up") %>

<div class="span12">
  <div id="login-container">
    <div id="login-header">
      <h3>Sign up</h3>
    </div>

    <div id="login-content" class="clearfix">
    
      <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages' %>

        <fieldset>
          <div class="control-group">
            <div class="controls">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>  
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>  
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>  
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation %>
            </div>  
          </div>
        </fieldset>


        <div class="pull-right">
          <%= f.button "Create my Account", class: "btn btn-large btn-warning", type: "submit" %>
        </div>


      <% end %>
    </div>
  </div>

</div>
